.sidebar{
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    transition: width 0.9s ease;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar.extended {
    width: 260px;
}

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: margin 0.9s ease;
}

.sidebar.extended .menu{
    margin-left: 10px;
}

.sidebar:not(.extended) .menu{
    margin-left: 0;
}

.sidebar .new-chat{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    justify-content: center;
    white-space: nowrap;
    transition: padding 0.9s ease;
}

.sidebar.extended .new-chat{
    justify-content: flex-start;
    padding: 10px 15px;
}

.sidebar:not(.extended) .new-chat{
    padding: 10px;
}

.sidebar .new-chat p {
    overflow: hidden;
    width: 0;
    transition: width 0.9s ease;
}

.sidebar.extended .new-chat p {
    width: auto;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 0;
    transition: width 0.9s ease;
}

.sidebar.extended .recent-title{
    width: auto;
}

.sidebar .recent-entry{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 5px;
    justify-content: center;
    transition: justify-content 0.9s ease, padding 0.9s ease;
}

.sidebar.extended .recent-entry{
    justify-content: flex-start;
    padding: 10px 10px;
}

.sidebar:not(.extended) .recent-entry{
    padding: 10px;
}

.sidebar .recent-entry p{
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    transition: width 0.9s ease;
}

.sidebar.extended .recent-entry p{
    width: auto;
}

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: inline-flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: center;
    transition: justify-content 0.9s ease;
}

.sidebar.extended .bottom-item{
    justify-content: flex-start;
}

.sidebar .bottom-item p{
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    transition: width 0.9s ease;
}

.sidebar.extended .bottom-item p{
    width: auto;
}